.leaflet-popup-content-wrapper {
    width: 600px;
}

table.coins {
    width: 100%;
}

.table>tbody>tr>td,
.table>tfoot>tr>td {
    vertical-align: middle !important;
}

table.coins img {
    height: 100px;
}