@font-face {
    font-family: 'roman';
    src: url('roman.ttf') format('truetype');
}

.roman {
    font-family: roman;
}

.leaflet-popup-content-wrapper {
    min-width: 600px;
}

table.opennumismat {
    width: 100%;
}

.table>tbody>tr>td,
.table>tfoot>tr>td {
    vertical-align: middle !important;
}

table.opennumismat tr:last-child td {
    border-bottom: 0;
}

table.opennumismat.noborder td {
    border: 0;
}
